core/src/main/resources/META-INF/hubble.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.sharper.cc/hubble"
            xmlns="http://www.sharper.cc/hubble"
            elementFormDefault="qualified">

    <xsd:element name="server">
        <xsd:annotation>
        <xsd:documentation><![CDATA[ 服务端配置（监听端口），可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:attribute name="id" use="required" type="xsd:ID">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ Spring的BeanId ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>

            <xsd:attribute name="protocol" use="optional" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务端协议 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>

            <xsd:attribute name="port" use="optional" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 服务端绑定端口 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>

        </xsd:complexType>

    </xsd:element>


    <xsd:element name="registry">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 注册中心配置，可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:attribute name="id" use="required" type="xsd:string"/>
            <xsd:attribute name="protocol" use="optional" type="xsd:string"/>
            <xsd:attribute name="timeout" use="optional" type="xsd:string"/>
            <xsd:attribute name="retries" use="optional" type="xsd:string"/>
            <xsd:attribute name="address" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ 注册中心Index服务地址 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>

        </xsd:complexType>
    </xsd:element>




    <xsd:element name="provider">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 服务提供者配置，可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:attribute name="id" use="required" type="xsd:string"/>
            <xsd:attribute name="interface" use="required" type="xsd:string"/>
            <xsd:attribute name="ref" use="required" type="xsd:string"/>
            <xsd:attribute name="alias" use="required" type="xsd:string"/>
            <xsd:attribute name="protocol" use="optional" type="xsd:string"/>
            <xsd:attribute name="timeout" use="optional" type="xsd:string"/>
            <xsd:attribute name="retries" use="optional" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="consumer">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 服务调用者配置，可作为一级元素 ]]></xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:attribute name="id" use="required" type="xsd:string"/>
            <xsd:attribute name="interface" use="required" type="xsd:string"/>
            <xsd:attribute name="ref" use="optional" type="xsd:string"/>
            <xsd:attribute name="alias" use="required" type="xsd:string"/>
            <xsd:attribute name="protocol" use="optional" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[序列化协议 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="timeout" use="optional" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[超时时间 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>

            <xsd:attribute name="retries" use="optional" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[重试次数 ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>

        </xsd:complexType>
    </xsd:element>


</xsd:schema>